@import url(https://fonts.googleapis.com/css?family=Montserrat);
.navimages {
display: block;
}

.navlinks {
display: block;
border:5px solid black;
margin:10px 0px;
padding:10px;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

li {
  display: block;
  width: 250px;
  float: left;
  padding:20px;
  margin: 30px;
}
header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
  display: block;
  border: 5px dashed black;
  margin: 10px 0px;
  padding: 20px;
  background-color: green;
}

#ourstoryparagraph {
text-align: left;
font-family: 'Montserrat', sans-serif;
color: Black;
}

#ourstory {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

#beantruck li {
  font-family: 'Montserrat', sans-serif;
  color: black;
  display: block;
  border: 5px solid black;
  margin: 10px 20px;
  padding: 20px;
}
.menuitems li {
  width: 100%;
float: none;
padding: 0px;
margin: 1px;
font-family: 'Montserrat', sans-serif;
}

ul.menuitems {
  list-style: disc;
}
